
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #CBB89D;
    color: white;
}


header {
    text-align: center;
    padding: 40px;
    background:  #412F26;
    color: white;
    border-bottom: 8px solid white;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.4em;
}

.complaint-section {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    font-size: 2.5em;
    color:black;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #CBB89D;
}


.complaint-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    text-align: left;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #333;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: #fafafa;
}

input:focus, textarea:focus, select:focus {
    border-color: brown;
    outline: none;
    box-shadow: 0 0 6px rgba(0, 191, 165, 0.5);
}


.submit-btn {
    padding: 15px;
    background-color: #412F26;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #CBB89D;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 191, 165, 0.3);
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #412F26;
    color: white;
    margin-top: 40px;
    border-top: 8px solid white
}


input, textarea, select {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    .complaint-section {
        padding: 20px;
    }

    .submit-btn {
        font-size: 1.2em;
    }
}
